.linkCheck{
    text-decoration: none;
    color: white;
}

.button{
    margin-left: 20px;
    margin-top: 20px;
    
}
.cardCarrito{
    margin-top: 20px;
}

.total{
    margin-top: 20px;
}

.cart-item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.advertencia{
    margin-top: 50px;
}
.option{
    text-decoration: none;
    color: white;
}
