:root {
  /* Paleta principal */
  --color-principal: #C1121F;   /* Rojo deportivo intenso */
  --color-secundario: #1B1B1B;  /* Fondo oscuro metálico */
  --color-acento: #F5CB5C;      /* Dorado suave para detalles */
  --color-texto: #FAFAFA;       /* Blanco puro */
  --color-hover: #780000;       /* Rojo profundo hover */
  --color-sombra: rgba(193, 18, 31, 0.3);

  /* Fondos */
  --bg-principal: var(--color-principal);
  --bg-secundario: var(--color-secundario);
}