.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}
.number{
    margin-top: 20px;
}
.buttonComprar{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 16px;
}

