@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600;700&family=Roboto:wght@400;500&display=swap');


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-secundario);
  color: var(--color-texto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
}

code {
  font-family: 'Roboto', sans-serif;
}
.tituloNegocio{
  padding-bottom: 20px;
  padding-top: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.botones{
  margin-top: 100px;
  margin-right: 200px;
}

.mensaje{
  width: 450px;
  margin-left: 720px;
  margin-top: 50px;
}